<%
	# Collect all domains
	all_domains = Metric.domains;
	
	metrics_by_domain = {};
	measures_by_domain = {};
	
	# Collect all metrics and measures
	all_domains.each do |domain|
		if(!domain.nil? && domain.length > 0)
			# Initialize
			metrics_by_domain[domain] = [];
			measures_by_domain[domain] = [];
						
			# Metrics by domain
			metrics_of_domain = Metric.by_domain(domain);
			
			metrics_of_domain.each do |metricObj|
				if(!metricObj.nil?)
					measureObj = measure(metricObj.key);
					
					if(!measureObj.nil?)
						
						# NUMERIC or DATA
						if ( (metricObj.numeric? && !measureObj.value.nil?) || (metricObj.data? && !measureObj.data.nil? && measureObj.data.length > 0) )
							metrics_by_domain[domain] << metricObj;
							measures_by_domain[domain] << measureObj;
						end
					end
				end
			end
		end
	end
	
%>
<div style="width: 100%">
	<% 
		all_domains.each do |domain|
			
			if(!domain.nil? && domain.length > 0)
				metricsArray = metrics_by_domain[domain];
				measuresArray = measures_by_domain[domain];
				
				if(metricsArray.length > 0 && measuresArray.length > 0)
	%>
					<div class="tab_header">
						<div>
							<h3><%= domain -%> </h3>
						</div>
						<div>
							<table width="100%">
								<tbody>
									<% 
										mcount = 0;
										metricsArray.each do |metricObj|
									%>
											<tr>
												<td nowrap width="35%">
													<p>
														<%= metricObj.short_name -%>: 
														<% if (metricObj.numeric?) %>
															<b><%= format_measure(metricObj.key) -%></b>
														<% elsif (metricObj.data?) %>
															<input type="text" style="background-color: #EFEFEF; font-weight: bold" readonly="readonly" value="<%= measuresArray[mcount].data -%>">
														<% end %> 
													</p>
												</td>
												<td width="65%">
													<span style="font-style: italic"><%= metricObj.description -%></span>
												</td>
											</tr>
											<% mcount = mcount + 1 %>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
	<% 			
				end 
			end 
		end 
	%>
</div>