<% loader = ComparingLoader.new %>

<% if widget_properties['metricDisplay']!='PRJ' and widget_properties['metricDisplay']!='LOC' %>

<table class="width100">
  <tr>
    <td width="20px" valign="top"><%= image_tag 'exclamation.png' -%></td>
    <td><b><%= message('comparing.error.widgetnotdisplay') -%><br />
           <%= message('comparing.error.property.wrongval', :params => [widget_properties["metricDisplay"]]) -%></b></td>
  </tr>
</table>

<% else 
     position = 0 
     measure_for_chart = ''
     hash = {}
     measure_total = 0
     if widget_properties['metricDisplay']=='PRJ'
       @widget_title = message('comparing.project.title')
       hash = loader.get_nb_projects_by_language
       measure_total = loader.get_total_projects
     else
       @widget_title = message('comparing.loc.title')
       hash = loader.get_sum_measure_by_language('ncloc')
       measure_total = loader.get_total_ncloc
     end %>

<table width="100%">
  <tr>
    <td valign="top" width="30%">
      <div class="dashbox"><table align="left" class="data">

<% hash.each { |key, value|
     if (position % 2) == 1 %><tr class="odd">
<%   else %><tr class="even">
<%   end 
     position += 1 %>
        <td align="left" width="30px"><h4 style="font-size: 12px;"><%= key -%></h4></td>
        <td align="right" width="80px"><%= number_with_delimiter(value.to_i).to_s -%></td></tr>
<%   the_percentage = ((value.to_f/measure_total)*100).round(1)
     measure_for_chart += key + '=' + the_percentage.to_s + ';'
   }
   if (position % 2) == 1 %><tr class="odd">
<% else %><tr class="even">
<% end %>
        <td align="left"><h4 style="font-size: 12px;">Total</h4></td>
        <td align="right"><%= number_with_delimiter(measure_total).to_s -%></td></tr>
      </table></div>
    </td>
    <td width="70%">
      <% query="ck=languagesPie&w=280&h=200&v=" + u(measure_for_chart) %>
      <div class="dashbox" id="div_chart"><div id="div_percentage" class="chart"><%= chart(query) %></div></div>
    </td>
  </tr>
</table>

<% end %>